:root {
  background-color: rgb(220, 236, 247);
}

.App {
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  margin: 40px;
}

img {
  max-width: 100px;
}

.animalName {
  font-size: 20px;
  font-style: italic;
}

#animalDetailContainer {
  display: none;
}

.Animal {
  cursor: pointer;
}
