/*GENERAL*/
:root {
  background-image: url('http://14textures.com/wp-content/uploads/2015/06/VC_Summer__2923.jpg');
}
span {
  display: none;
}

main {
  display: flex;
  align-items: center;
}

#allAnimals, #animalDetailsContainer {
  min-width: 600px;
}

div, h3, p, h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.header {
  margin-bottom: 0;
}

img {
  max-width: 100px;
}

.container {
  text-align: center;
  margin: 40px;
}


/* LIST */
.animalList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#allAnimals {
  background-color: rgb(214, 234, 240);
  border-radius: 40px;  
  border: 3px solid black;
}

.animal {
  cursor: pointer;
  margin: 20px;
  min-width: 80px;
}

.animalName {
  font-size: 20px;
  font-style: italic;
}


/* ADD */
.addAnimalContainer {
  border: 3px solid black;  
  border-radius: 80px;
  padding-bottom: 15px;
  background-color: rgb(255, 214, 214);
}

.inputContainer {
  margin: 20px;
}

.inputsWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* DETAIL */
#animalDetailContainer {
  display: none;
  border: 3px solid black;
  margin: 0 auto;
  padding: 40px;
  background-color: rgb(239, 243, 247);
  position: relative;
}

.hide {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 8px;
  text-align: center;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (max-width: 980px) {

  #allAnimals {
    margin: 30px auto;
  }

  main {
    flex-wrap: wrap;
  }
  
}

@media only screen and (max-width: 750px) {

  .inputsWrapper {
    flex-wrap: wrap;
  }

  span {
    display: inline;
  }
  
}
